
.link {
    padding-top: 10px;
    margin-bottom: 10px;
}

.link a {
    font-size: 18px;
}
.buy button {
    background-color: #FFA500;
    transition: 0.5s;
    background-size: 200%;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    border: #eee;
    height: 50px;
    width: 350px;
}

.buy button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.button_1{
    margin-top: 50px;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.font-bold {
    font-size: 20px;
    font-weight: 500;
}

.font-bold {
    font-weight: 500;
}

.font-a a{
    color: #FFA500;
    text-decoration: none;
}

a:hover {
    color: none;
    text-decoration: none;
}

body {
    background-color: #F0F0F0;
    height: auto;
}

.br-form {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
}

.reviewer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer img{
    width: 100%;
    border-radius: 50%;
}

.review {
    padding: 10px;
    border-bottom: 1.5px solid rgba(0,0,0,.09);
}

.star{
    color: #FFA500;
    font-size:20px;
}

.star-s{
    color: #FFA500;
    font-size:15px;
}

.product__item {
    /*background-color: #FFE5CC;*/
    background-color: #ffefd5 ;
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
    transition: 0.5s;
    border-radius: 5px;
}

.product__item a {
    color: black;
    font-size: 18px;
}

.product__item img {
    width: 180px;
    transition: 0.5s;
    height: 70%;
}

.product__item a:hover {
    color: #FFA500;
    text-decoration: none;
}

.product__item div {
    padding: 0 10px;
    font-size: 20px;
    color: red;
}

.img-nav-btn{
    width: 50px; 
    height: 50px; 
    background: #ccc; 
    border-radius: 50%;
    opacity: 0.8;
}
.carousel-control-next:focus, 
.carousel-control-prev:focus{
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    opacity: 1;
}

.hinden-text {
    margin: 0;
    font-size: 16px;
    padding: 3px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    border-bottom: 1.5px solid rgba(0,0,0,.09);
}

.tooltip-text {
    text-decoration:none;
    position:relative;
}
.tooltip-text span {
    display:none;
}
.tooltip-text:hover span {
    border-radius: 3px;
    font-size: 16px;
    padding: 1px 5px;
    display: block;
    position:fixed;
    overflow:hidden;
    background-color: #35363A;
    color: #CCC;
    z-index: 1000;
    white-space: nowrap;
}